
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


body{
	font-family: 'Open Sans', sans-serif;
}

.contact {
    background-color: #ebebeb;
	padding: 8px;
}
.addr {
	text-align: left;
}
@media screen and (max-width:768px) {
	.addr {
		text-align: center;
	}
}
.addr address{
	display: inline-block;
}
.addr {
   color: #555;
   font-size: 15px;
   font-weight: 400;
}
.fa-map-marker-alt {
   font-size: 18px;
   color: #555;
   font-size: 15px;
}
.media-contact {
	text-align: right;
}
@media screen and (max-width:768px) {
	.media-contact {
		text-align: center;
	}
}
.media-contact i {
	color: #2c2c2c;
	font-size: 14px;
	padding: 9px 12px;
}
.logo-contacts {
	padding: 30px 0;
}
@media screen and (max-width:991px){
	.logo-image {
		text-align: center;
		margin-bottom: 20px;
	}
}
.logo-image img {
	width: 185px;
	height: 35px;
}
.logo-contacts p {
	font-size: 14px;
	color: #555;
	margin-bottom: 10px;
}
.logo-contacts a {
	text-decoration: none;
	font-size: 15px;
	color: #111;
	font-weight: 700;
}
.logo-contacts b {
	font-weight: 700;
	font-size: 15px;
}
.right-contact-details {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}
@media screen and (max-width:768px) {
	.right-contact-details {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
}
@media screen and (max-width:400px) {
	.right-contact-details {
		justify-content: center;
		flex-direction: column;
		text-align: center;
	}
}
.mobile-no,.email,.certificate {
    margin-right: 25px;
    padding-right: 25px;
    border-right: 1px solid #0000001a;
}
@media screen and (max-width:768px){
	.mobile-no,.email,.certificate {
		margin: 10px 0 0;
		padding: 0 10px;
		border: 0;
	}
	.quote-link {
		margin: 20px;
	}
}
@media screen and (max-width:400px) {
	.mobile-no,.email,.certificate,.quote-link {
		margin-top: 20px;
		padding: 0;
		border: 0;
	}
}
.certificate {
	border: 0;
} 
.quote-link {
	width: 135px;
	background-color: #ffb600;
	text-align: center;
	border-radius: 3px;
}
.quote-link a {
	font-size: 13px;
	color: #fff;
	padding:14px 0;
	display: inline-block;
}
.quote-link:hover {
	background-color: #23282d;
}
.quote-link:hover a {
	color: #ffb600;
}
/* Navigation */

.navbar-fixed {
	z-index: 9999;
	position: fixed;
	width: 100%;
	top: 0;
  }
.navigation {
    background-color: #23282d;
}  
@media screen and (max-width:991px) {
	.navigation {
		padding: 10px 0;
	}
}
.container {
    position: relative;
}
.nav-item {
    margin-right: 10px;
}
.nav-link {
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 28px 0;
	font-family: 'Montserrat', sans-serif;
}
.navbar-nav .nav-link.show {
    color: #ffb600;
}
.nav-link:hover {
    color: #ffb600;
}
.active-link {
    color: #ffb600;
}
.active-link:hover {
    color: #ffb600;
}
.dropdown-toggle::after{
    display: none;
}
li.dropdown-submenu:hover .dropdown-menu {
   display: block;
}
.nav-search {
    position: absolute;
    top: 26px;
    right: 20px;
}
@media screen and (max-width:991px) {
	.nav-search {
		top: 12px;
	}
}
#search {
    display: none;
    background-color: #222;
    border: 10px solid #120f0d;
    width: 300px;
    padding: 8px;
    position: absolute;
    right: 0;
    bottom: -86px;
	z-index: 1;
	opacity: 0.8;
	color: #fff;
}
@media screen and (max-width:991px) {
	#search {
		bottom: -78px;
	}
}
.search-close-icn {
    display: none;
	font-size: 15px;
    color: #999;
	font-weight: 900;

}
#search:focus {
	outline: none;
	background-color: #222;
}
.fa-search {
    font-size: 15px;
    color: #999;
}
.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-light .navbar-toggler {
    background-color: #ffb600;
    border-radius: 0;
    padding: 3px;
    box-shadow: none;
}
.navbar-light {
	padding: 0;
}
.menu-list {
    padding: 0 20px;
    border-radius: 0;
    border: 0;
    border-top: 2px solid #ffb600;
	min-width: 200px;
}
.dropdown-item {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
.dropdown-menu li a {
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 0;
}
.dropdown-menu li:last-child > a {
    border-bottom: 0;
}
.dropdown-menu li a:focus {
    background-color: unset;
}
.dropdown-menu li a:hover {
    color: #ffb600;
}
.nav-item:hover .menu-list {
    display: block;
}
@media screen and (max-width:991px) {
    .fa-angle-down {
        float: right;
        background-color: #222;
        padding: 5px 10px;
    }
}
.sub-list .fa-angle-right{
	float: right;
}
.sub-list {
	position: relative;
}
.dropdown-menu .sub-list-menu {
	/* position: absolute; */
    /* top: 83px; */
    /* left: 172px; */
    padding: 0 20px;
    min-width: 200px;
    border: 0;
    border-radius: 0;
    border-top: 2px solid #ffb600;
}
@media screen and (min-width:991px) {
	.dropdown-menu .sub-list-menu {
		position: absolute;
		top: 83px;
		left: 172px;
	}
}
/* Slider */
.slider1{
	background-image: url('image/slider1.jpg');
	height: 700px;
	background-size: cover;
}
.slider2 {
	background-image: url('image/slider2.jpg');
	height: 700px;
	background-size: cover;
}
.slider3 {
	background-image: url('image/slider3.jpg');
	height: 700px;
	background-size: cover;
}
.slider1-content,.slider2-content,.slider3-content {
	color: #fff;
	text-align: right;
}
.slider1-content h3,.slider2-content h3,.slider3-content h3 {
	font-size: 30px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 10px 0;
	line-height: 1.6;
}
@media screen and (max-width: 991px) {
	.slider1-content h3,.slider2-content h3,.slider3-content h3 {
		font-size: 22px;
	}
}
@media screen and (max-width: 575px) {
	.slider1-content h3,.slider2-content h3,.slider3-content h3 {
		font-size: 16px;
	}
}
.slider1-content h1,.slider2-content h1,.slider3-content h1 {
	font-size: 60px;
	font-weight: 900;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	margin: 10px 0;
	line-height: 1.2;
}
@media screen and (max-width: 991px) {
	.slider1-content h1,.slider2-content h1,.slider3-content h1 {
		font-size: 46px;
	}
}
@media screen and (max-width: 575px) {
	.slider1-content h1,.slider2-content h1,.slider3-content h1 {
		font-size: 30px;
	}
}
.slider1-content p {
	font-size: 20px;
	font-weight: 300;
	margin: 15px 0;
	line-height: 1.2;
}
.btn-wrapper {
	margin: 20px 0;
}
.free-quote-btn,.learn-more-btn,.services-btn,.contact-btn {
	display: inline-block;
	font-size: 14px;
	color: #fff;
	width: 170px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #ffb600;
	padding: 15px 0;
	border-radius: 3px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
.free-quote-btn:hover{
	background-color: #111;
}
.services-btn:hover {
	background-color: #111;
}
.learn-more-btn,.contact-btn {
    background-color: unset;
	width: 140px;
	border: 1px solid #ffb600;
	margin-left: 10px;
	padding: 13px 0;
	font-family: 'Montserrat', sans-serif;
}
.learn-more-btn:hover {
	background-color: #ffb600;
}
.contact-btn:hover {
	background-color: #ffb600;
}
.world-service {
	display: inline-block;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #ffb600;
	color: #fff;
	padding: 10px;
	text-align: center;
	line-height: 1.2;
	margin-bottom: 10px;
	font-family: 'Montserrat', sans-serif;
}
.slider2-content {
	text-align: center;
}
.services-btn {
	width: 150px;
}
.contact-btn {
	width: 155px;
}
.slider3-content {
	text-align: left;
}
.slick-dots {
	bottom: 60px;
	opacity: 0;
}
.slickslider:hover .slick-dots {
	opacity: 1;
}
.slick-dots li button:before {
	font-size: 12px;
}
.slick-dotted.slick-slider {
	margin-bottom: 0;
}
.slick-dots li.slick-active button:before {
	color: #ffb600;
	opacity: 1;
}
.slick-dots li button:hover:before {
	color: #ffb600;
}
.slick-prev:before,.slick-next:before {
	content: "\f053";
	font-family: "Font Awesome 5 Free";
	font-size: 22px;
	font-weight: 900;
	z-index: 2;
}
.slick-next:before {
	content: "\f054";
}
.slick-prev,.slick-next {
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 0;
	z-index: 1;
} 
.slick-prev {
	left: 20px;
}
.slick-next {
	right: 20px;
}
.slickslider:hover .slick-prev {
	opacity: 1;
}
.slickslider:hover .slick-next {
	opacity: 1;
}
.slick-prev:hover {
	background-color: #ffb600;
}
.slick-next:hover {
	background-color: #ffb600;
}
.slick-slider {
	position: relative;
}
.request-block{
	background-color: #ffb600;
	padding: 30px;
	/* display: flex; */
	/* justify-content: space-between; */
	/* flex-wrap: wrap; */
	/* align-items: center; */
	margin-top: -50px;
}
.request-block p {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	line-height: 1.6;
	font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 767px) {
	.para-block {
		text-align: center;
	}
}
.btn-block {
	text-align: right;
}
@media screen and (max-width: 767px) {
	.btn-block {
		text-align: center;
		margin-top: 15px;
	}
}
.request-btn {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	width: 165px;
	text-align: center;
	color: #fff;
	background-color: #23282d;
	padding: 13px 0;
	font-family: 'Montserrat', sans-serif;
	border-radius: 3px;
}
.request-btn:hover {
	background-color: #111;
}

/* About Us */
.about-us-section {
	margin: 70px 0 40px;
}
.about-us-section h3 {
	font-size: 18px;
	font-weight: 300;
	color: #212121;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.about-us-section h1 {
	font-size: 32px;
	font-weight: 800;
	margin: 10px 0;
	letter-spacing: 0.7px;
	line-height: 1.2;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
}
.about-us-section p {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
	color: #555;
}
.icon-contents {
	margin: 30px 0;
}
.first-row {
	margin-bottom: 30px;
}
.icon-contents i {
   font-size: 36px;
   color: #ffb600;
   margin-right: 15px;
}
.icon-contents h4 {
	font-size: 16px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	text-transform: uppercase;
}
/* Accordion */
.accordion {
	margin-top: 10px;
}
.accordion-item {
    margin-bottom: 10px;
    /* border: 1px solid black; */
    box-shadow: none;
}
.accordion-item:first-of-type .accordion-button  {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.accordion-item:last-of-type .accordion-button.collapsed {
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.accordion-item:first-of-type {
	border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.accordion-item:last-of-type {
	border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.accordion-button {
	font-size: 16px;
	color: #ffb600;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	padding: 13px 15px 10px;
}
.accordion-body {
	padding: 10px 20px;
}
.accordion-button.collapsed {
	background-color: #fff;
	color: #212529;
}
.accordion-button.collapsed:hover {
   color: #dfdfdf;
}
.accordion-button:focus {
	background-color: #fff;
	box-shadow: none;
	border-color: #dfdfdf;
}
.accordion-button:not(.collapsed) {
	color: #ffb600;
	background-color: #fff;
	box-shadow: none;
}
/* .accordion-button:hover {
	color: #dfdfdf;
} */
.accordion-collapse {
	border-top: 1px solid #dfdfdf;
}
.buttonclosed {
	border-top: 1px solid #dfdfdf;
}
.accordion-button::after {
	content: "\f107";
	background: none;
	font-family: "Font Awesome 5 Free";
	color: #fff;
	background-color: #333;
	padding: 5px 6px 1px;
	border-radius: 3px;
	text-align: center;
	font-weight: 700;
	width: 25px;
	height: 25px;
}
.accordion-button:not(.collapsed)::after {
	background: none;
	content: "\f107";
	background: none;
	font-family: "Font Awesome 5 Free";
	color: #fff;
	background-color: #ffb600;
	padding: 5px 6px 1px;
	border-radius: 3px;
	text-align: center;
	font-weight: 700;
	width: 25px;
	height: 25px;
}

/* Logo count */
.logo-count {
	background-color: #252525;
	padding: 70px 0;
	text-align: center;
}
.logo-count h1 {
	color: #fff;
	font-size: 44px;
	font-weight: 700;
	margin: 20px 0;
	font-family: 'Montserrat', sans-serif;
}
.logo-count h3 {
	color: #ffb600;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width: 575px) {
	.image-count {
		margin-bottom: 48px
	}
}
.counter {
	animation-duration: 1s;
	animation-delay: 0s;
  }
  

/* Specialist Section */
.specialist-section {
	margin: 70px 0 0;
}
.specialist-heading,.project-heading,.work-heading {
	margin-bottom: 60px;
	text-align: center;
}
.specialist-heading h3,.project-heading h3,.work-heading h3 {
   font-size: 18px;
   font-weight: 300;
   text-transform: uppercase;
   font-family: 'Montserrat', sans-serif;
   margin-bottom: 10px;
}
.specialist-heading h1,.project-heading h1,.work-heading h1 {
	font-size: 36px;
	font-weight: 800;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	color: #212121;
}
.right-content {
	margin: 0 0 40px 25px;
}
.right-content a {
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	color: #212121;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}
.right-content a:hover {
    color: #ffb600;
}
.right-content p {
	font-size: 15px;
	font-weight: 400;
	color: #555;
	margin: 15px 0;
	line-height: 1.6;
}

/* Project section */
.project-section {
	background-color: #f9f9f9;
	padding: 70px 0;
}
.project-wrap ul {
	display: flex;
	flex-wrap: wrap;
	border-bottom: 3px solid #ffb600;
	margin: 10px 0 50px;
}
.project-wrap ul li {
	/* text-decoration: none; */
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	padding: 10px 25px;
	color: #212121;
	cursor: pointer;
}
.active {
	background-color: #ffb600;
}
/* .project-wrap a:focus {
	background-color: #ffb600;
} */
.project-image-wrap {
	overflow: hidden;
	margin-top: -2px;
	position: relative;
}
.gallery-icon {
	position: absolute;
	right: 0;
	top: 0;
	padding: 10px 12px;
	background-color: #ffb600;
	color: #fff;
	font-size: 15px;
	font-weight: 900;
	opacity: 0;
	z-index: 1;
	transform: perspective(1px) scale3d(0,0,0);
	transition: all 400ms;
}
.project-info {
	position: absolute;
	top: 50%;
	padding: 0 30px;
	margin-top: -10px;
	opacity: 0;
	z-index: 1;
}
.project-info a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	transform: perspective(1px) translate3d(0, 0, 0);
    transition: all 400ms;
}
.project-info p {
    margin-top: 20px;
    background-color: #ffb600;
    font-size: 10px;
    font-weight: 700;
    padding: 10px 8px;
    display: inline-block;
    text-transform: uppercase;
}
.project-image-wrap a img {
   overflow: hidden;
   max-width: 100%;
   height: auto;
}
.project-image-wrap:hover .project-info{
	opacity: 1;
	transform: perspective(1px) translate3d(1, 1, 1);
}
.project-image-wrap:hover .gallery-icon {
	opacity: 1;
	transform: perspective(1px) scale3d(1,1,1);
	/* transition: all 400ms; */
}
.project-image-wrap:hover img {
	transform: scale(1.2);
	overflow: hidden;
	transition: all 400ms;
}
.project-image-wrap::after {
	content: '';
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	transition: all 400ms;
}
.project-image-wrap:hover::after {
	opacity: 1;
}
.view-projects {
	margin-top: 50px;
	text-align: center;
}
.view-projects a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	background-color: #ffb600;
	display: inline-block;
	text-align: center;
	width: 190px;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 14px 0;
	border-radius: 3px;
}
.view-projects a:hover {
	background-color: #000;
}



/* Testimonial Clients section */
.clients-section {
	padding: 70px 0;
}
.clients-section h4 {
	font-size: 24px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 40px;
	text-transform: uppercase;
}
@media screen and (max-width: 991px) {
	.happy-clients-column {
		margin-top: 80px;
	}
}
.quote {
	display: flex;
	margin-bottom: 40px;
}
.quote i {
	font-size: 30px;
	font-weight: 700;
	color: #ffc009;
	font-style: italic;
	margin-right: 20px;
}
.quote p {
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	color: #555;
	line-height: 1.6;
	padding-right: 20px;
	font-family: 'Open Sans', sans-serif;
}
.person-info {
	margin-left: 60px;
	display: flex;
}
.person-info img {
	max-width: 80px;
	border-radius: 5px;
	margin-right: 20px;
}
.person-name {
	margin-top: 15px;
}
.person-name h3 {
	font-size: 16px;
	font-weight: 700;
	color: #ffb600;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
}
.person-name p {
	font-size: 15px;
	color: #555;
	font-weight: 400;
}
.testimonial-slider .slick-dots {
	bottom: -35px;
	opacity: 1;
}
.clients-logo {
	padding: 0 30px;
	border: 1px solid #dadada;
	height: 105px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
}
.clients-logo img {
	filter: grayscale(100%);
	max-width: 100%;
	text-align: center;
}

/* Help Section */
.help-section {
	background-color: #ffb600;
}
.help-number {
	min-height: 115px;
	padding: 30px 0 0 30px;
}
.help-number h4 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
}
.help-number h3 {
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}
@media screen and (max-width:991px) {
	.help-number h3 {
		font-size: 20px;
	}
}
.newsletter {
	background-color: #252525;
	min-height: 115px;
	padding: 20px 0 0 50px;
	position: relative;
}
.newsletter h4 {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 10px;
}
.newsletter p {
	font-size: 15px;
	font-weight: 400;
	color: #fff;
	margin-bottom: 15px;
}
@media screen and (max-width: 991px) { 
	.newsletter p {
		font-size: 13px;
	}
}
.newsletter::after {
	content: '';
	background-color: #252525;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	right: -100%;
}
@media screen and (max-width: 767px) {
	.newsletter::after {
		background-color: transparent;
	}
}
.newsletter form {
	margin-bottom: 20px;
}
.newsletter input {
	padding: 5px 20px;
	border: 1px solid rgba(255, 255, 255, 0.3);
    width: 100%;
	color: #959595;
	font-size: 12px;
	height: 44px;
	background: none;
}
.newsletter input:focus {
	background-color: #fff;
	border-radius: 0;
	border: 1px solid #ffb600;
	box-shadow: 0;
	/* border: 0; */
	outline: none;
}

/* Work section */
.work-excellence {
	padding: 70px 0;
}
.work-image img {
	max-width: 100%;
	height: auto;
}
.about-work {
	margin-top: 20px;
}
.about-work h3 {
	margin-bottom: 5px;
}
.about-work a {
	color: #303030;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.6;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
}
.about-work span {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: 400;
}
.about-work a:hover {
	color: #ffb600;
}
.all-posts {
	text-align: center;
	margin-top: 20px;
}
.all-posts a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	padding: 13px 20px;
	display: inline-block;
	background-color: #ffb600;
	color: #fff;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
}
.all-posts a:hover {
	background-color: #000;
}

/* Footer */
.footer-content {
	background-color: #0d0d0d;
    color: #999;
	padding: 80px 0 60px;
}
.footer-content h3 {
	font-size: 16px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #fff;
	border-left: 3px solid #ffb600;
	padding-left: 15px;
	margin-bottom: 30px;
}
.footer-about-part img {
	width: 200px;
	margin-bottom: 25px;
}
.footer-about-part p,.working-hours p {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.6;
	margin-bottom: 30px;
}
.footer-logo a {
	color: #999;
}
.footer-logo i {
	font-size: 16px;
	font-weight: 400;
	padding: 5px 20px 5px 0;
}
.working-hours table {
	width: 100%;
}
.working-hours td {
	font-size: 15px;
	font-weight: 400;
	line-height: 1.8;
}
.time {
	text-align: right;
}
.services-part li {
	border-bottom: 1px solid #ffffff12;
}
.services-part li a {
	font-size: 15px;
	font-weight: 400;
	color: #999;
	padding: 15px 0;
	text-decoration: none;
	display: inline-block;
}
.services-part li a:hover {
	color: #ffb600;
}
.services-part li::before {
	content: "\f054";
	font-family: "Font Awesome 5 Free";
    margin-right: 10px;
	font-size: 12px;
	font-weight: 900;
	color: #999;
}
.services-part ul li:last-child {
	border-bottom: 0;
}
.copyright {
	background-color: #ffb600;
	padding: 25px 0;
}
.copyright p {
	font-size: 12px;
	font-weight: 600;
	color: #111;
	margin: 10px 0;
}
.copyright p a {
	text-decoration: none;
	color: #111;
}

@media screen and (max-width: 768px) {
	.page-links {
	    text-align: center;
	}
}
.page-links a {
	font-size: 12px;
	font-weight: 600;
	text-decoration: none;
	color: #111;
	display: inline-block;
	padding-left: 15px;
}
.page-links a:hover {
	color: #fff;
}
@media screen and (max-width: 768px) {
	.copy-right-year {
	    text-align: center;
		margin-bottom: 10px;
	}
}

  